.zcompdump
.zcompcache
*.zwc*
.zhistory
.zsh_history
.zsh_sessions/
pentadactyl/info/default/*
!pentadactyl/info/default/quickmarks
vimperator/info/default/*
!vimperator/info/default/quickmarks
mutt/*.pyc
mutt/temp/*
!mutt/temp/.gitignore
mutt/cache/*
!mutt/cache/.gitignore
