[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "prezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
